node_modules
.vscode
# {
# "first_name":"kervi",
# "last_name":"waewewj",
# "username":"weviraj",
# "email":"ewrr@gmail",
# "phone_number":"11342134324223",
# "date_of_birth" :"2021-3-1"
# }


